body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  width: 100%;
  height: 15rem;
  background-color: #f0ede9;
  margin: auto;
  padding: 1rem;
}

.inputbtn {
  padding: 0.4rem 3rem 0.4rem 0.5rem;
}
.headerbtn {
  background-color: white;
  color: black;
  padding: 0.6rem 2rem;
  border-radius: 10px;
}

.headerbtn:hover {
  background-color: black;
  color: white;
  padding: 0.6rem 2rem;
  border-radius: 10px;
}

.taskrendor {
  width: 80%;
  height: auto;
  margin: auto;
}

.rendortodos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 1rem;
}

.h3todo {
  height: auto;
  padding: 1.5rem 1rem 1.5rem 0.5rem;
  font-size: 1.2rem;
  text-align: center;
  border-top: 3.2px solid black;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.btnsdiv {
  margin-top: 2rem;
}

.btn {
  background-color: #fff7ed;
  color: rgb(0, 0, 0);
  border: 1.5px solid black;
  padding: 0.4rem 1rem;
  margin-left: 5px;
  border-radius: 5px;
}

.btn:hover {
  background-color: rgb(33, 30, 30);
  color: white;
}

.togglediv {
  border: 1px solid black;
}

.tgl {
  font-size: 15px;
  font-weight: 600;
}

@media only screen and (min-width: 0px) and (max-width: 480px) {
  .rendortodos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
    padding: 1rem;
  }
}

@media only screen and (max-width: 720px) and (min-width: 480px) {
  .rendortodos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    padding: 1rem;
  }
}
